@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

body {
  background-color: #fff7ed;
}
.input-style {
  @apply w-full border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500 focus:outline-none;
}
.reg-top-div {
  @apply min-h-screen flex items-center justify-center bg-gray-100 p-4;
}

.reg-scnd-div {
  @apply bg-white shadow-lg rounded-2xl p-8 w-full max-w-2xl;
}

@media screen {
  .pdf-watermark {
    display: none;
  }
}

.report-card * {
  color: #000 !important;
  background-color: #fff !important;
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}

@keyframes float-slower {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.animate-float-slower {
  animation: float-slower 10s ease-in-out infinite;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #222222;
  --card: #ffffff;
  --card-foreground: #222222;
  --popover: #ffffff;
  --popover-foreground: #222222;
  --primary: #333333;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #333333;
  --muted: #f5f5f5;
  --muted-foreground: #777777;
  --accent: #f5f5f5;
  --accent-foreground: #333333;
  --destructive: #aa4444;
  --border: #dddddd;
  --input: #dddddd;
  --ring: #aaaaaa;
  --chart-1: #5555aa;
  --chart-2: #3366cc;
  --chart-3: #334477;
  --chart-4: #e6ac00;
  --chart-5: #d99e00;
  --sidebar: #ffffff;
  --sidebar-foreground: #222222;
  --sidebar-primary: #333333;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #333333;
  --sidebar-border: #dddddd;
  --sidebar-ring: #aaaaaa;
}

input {
  outline-style: none;
}
textarea {
  outline-style: none;
}

.dark {
  --background: #222222;
  --foreground: #ffffff;
  --card: #333333;
  --card-foreground: #ffffff;
  --popover: #333333;
  --popover-foreground: #ffffff;
  --primary: #eeeeee;
  --primary-foreground: #333333;
  --secondary: #444444;
  --secondary-foreground: #eeeeee;
  --muted: #444444;
  --muted-foreground: #aaaaaa;
  --accent: #444444;
  --accent-foreground: #eeeeee;
  --destructive: #bb4444;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #888888;
  --chart-1: #5555aa;
  --chart-2: #6699cc;
  --chart-3: #d99e00;
  --chart-4: #7744bb;
  --chart-5: #dd6600;
  --sidebar: #333333;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #5555aa;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #eeeeee;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #888888;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* From Uiverse.io by AbanoubMagdy1 */
.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #065f46;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}
